@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

body {
  font-family: "Roboto",
    sans-serif;
  ;
}
.benefit-tab-link.active {
  color: #000;
  font-size: 24px!important;
  font-weight: 300;
}
.benefit-tab-link{
  font-size: 24px !important;
  font-weight: 200;
  color: #333333;
}

.nav-line .benefit-tab-link.active::after {
  background-color: #C14242;
  font-size: 24px !important;
  font-weight: 200;

}

.benefit-tab-link:hover {
  color: #C14242;
}
.btn-view {
  border: 2px solid #C5D9E8;
  color: #E00E00;
  font-weight: bold;
  display: inline!important;
}

.text-muted {
  color: #777777 !important;
}

.tx-16 {
  font-size: 1rem !important;
}

.tx-14 {
  font-size: 0.875rem !important;
}

.tx-13 {
  font-size: 0.8125rem !important;
}

.tx-12 {
  font-size: 0.75rem !important;
}
.progress-dark{
  background-color: #3F536E!important;
}
.btn-pending{
  border-radius: 50px;
background-color: #c2c0c0;
color: #333333;
font-weight: bold;
}
.btn-decline {
  border-radius: 50px;
  background-color: #E9998A;
  color: #fff;
  font-weight: bold;
}
.btn-approve {
  border-radius: 50px;
  background-color: #86B49B;
  color: #fff;
  font-weight: bold;
}

.cardd{
  padding: 12px 12px!important;
}

.table-font{
  font-size: 0.8rem !important;
  /* padding-bottom:0px !important ; */
  /* padding-top: 9px!important; */
}
.bg-grey{
  background-color: #EEEEEE;
}
.bg-grey-1{
  background-color: #FAFBFC;
}
.content-space{
  padding-top: 0!important;
}
.tx-normal{
  font-weight: 300;
}

.manage-tab-link.active {
  color: #000;
  font-weight: 700;
}

.manage-tab-link {
  font-weight: 00;
  color: #777777;
}

.nav-line .manage-tab-link.active::after {
  background-color: #C14242;
  font-weight: 200;

}

.manage-tab-link:hover {
  color: #000;
}


.add-child{
  color: #358ED7!important;
  font-weight: 600;
}
.card-grey{
  background-color: #F9F9F9;
}
.btn-grey{
  background-color: #EEEEEE;
}
.btn-cancel{
  border: 1px solid #707070;
  background-color: #fff;
  font-weight: 600;
}
.btn-submit{
  background-color: #358ED7;
  font-weight: 500;
  color: #fff;
}
.flag{
  background-color: #DDDDDD;
}
.flag-icon{
  width: 15px!important;
  height: 15px!important;
}
.card-pending{
  background-color: #EEEEEE;
  border-top: 2px solid #777777;
}
.btn-receipt{
  color: #358ED7;
  background-color: #fff;
  font-weight: 500;
  border: 1px solid #C5D9E8;
}
.copy-icon{
  width: 24px!important;
  height: 24px!important;
  border-radius: 50%;
  background-color: #ECF5FD;
  color: #0C71BB;
  padding: 4px;
}
.card-decline{
  background-color: #FBF3F0;
  border-top: 2px solid #DE3618;

}
.flag-decline{
  border-radius: 50%;
  background-color: #FEAD9A;
  color: #DE3618;
  padding: 4px;
}
.card-hover:hover{
  box-shadow: 1px 2px 3px #dddada;
}
.tb td{
  font-size: 0.81rem!important;
}
.btn-declined{
  background-color: #DD6B55;
  color: #fff;
  font-weight: 500;
}
.head-img{
  width: 100%;
  height: 50px;
}
.btn-dangerr{
  background-color: #E00E00;
  color: #fff;
}
.btn-dangerr:hover {
  background-color: #c50f02;
  color: #fff;
}
.edu-font{
  font-size:18px!important;
}
/* .fixed-card{
   max-height: 70vh;
   width: 12.25rem;
   position: fixed;
   z-index: 1;
   left: auto !important;
   right: inherit !important;
   overflow-y: scroll;

} */

.fixed-card {
  max-height: 100vh;
  overflow-y: scroll;
height: 80Vh;
}
@media (max-width: 575.98px) {
  .fixed-card {
    height: 100vh;
    overflow-y: hidden;
  }
}

.drop-zone {
  width: 100%;
  height: 8.5rem;
  border: 1px dashed #ddd;
  border-radius: 5px;
  position: relative;
  text-align: center;
  color: #666;
  overflow: hidden;
  cursor: pointer;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.form-drop{
  height: 100%;
}
