@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

body {
  font-family: "Roboto",
    sans-serif;
  ;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000 !important
}

.logo {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -1px;
  color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  color: #000;
  /* margin-top: -4px */
}

.sidebar-fix {
  height: 100%;
  width: 21.875rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 6.25rem;
  padding-left: 6.25rem;
}

@media (max-width: 768px) {
  .sidebar-fix {
    width: 16.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 6.25rem;
    padding-left: 2.25rem;
  }
}

@media (max-width: 991.98px) {
  .sidebar-fix {
    width: 16.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 6.25rem;
    padding-left: 2.25rem;
  }
}

@media (max-width: 1025.98px) {
  .sidebar-fix {
    width: 16.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 6.25rem;
    padding-left: 2.25rem;
  }
}

.media-body {
  margin-left: 16.25rem;
}

.performance-bg {
  background: #F9F9F9;
  height: 100vh;
}

.tx-gray-500 {
  color: #777777 !important;
}
@media (max-width: 576px) {
  .sidebar-fix {
    position: relative !important;
    z-index: 1;
    padding-top: 0.25rem !important;
    padding-left: 0.5rem;
    width: 100%;

  }

  .media-body {
    margin-left: 0 !important;
  }

  .navbar-header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .performance-bg {
    margin-top: 50px;
  }

  .mobile-search {
    padding-left: 10px;
  }

  .mobile-form {
    width: 95% !important
  }
}
.btn-view{
  border: 2px solid #C5D9E8;
  color: #358ED7;
}
.status-pad{
  padding-top:1.2rem!important
}
@media (min-width: 1600px) {
  .sidebar-fix{
    width:22rem ;
    margin-left: 11rem;
  }
}

@media (min-width: 1800px) {
  .sidebar-fix {
    width: 22rem;
    margin-left: 14rem;
  }
}

.nav-link.active{
  font-weight: 700!important;
}
.list-group-item.active{
  background-color: #ECF5FD!important;
  color: #000!important;
  font-weight: 700;
}
.list-group-item{
  background: transparent!important;
  border: none!important;
}
.perform-head{
  font-weight: 300;
}
.table-font{
  font-size: 0.85rem;
  color: #2C405A;
}