h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000 !important
}

.logo {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -1px;
  color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  color: #000;
  /* margin-top: -4px */
}

.sidebar-fix {
  height: 100%;
  width: 21.875rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 6.25rem;
  padding-left: 6.25rem;
}

@media (max-width: 768px) {
  .sidebar-fix {
    width: 16.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 6.25rem;
    padding-left: 2.25rem;
  }
}

@media (max-width: 991.98px) {
  .sidebar-fix {
    width: 16.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 6.25rem;
    padding-left: 2.25rem;
  }
}

@media (max-width: 1025.98px) {
  .sidebar-fix {
    width: 16.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 6.25rem;
    padding-left: 2.25rem;
  }
}

.media-body {
  margin-left: 16.25rem;
}

.btn-green {
  background-color: #108043;
  color: #fff!important;
}

.bg-green {
  background-color: #108043;
}

.bg-grey {
  background-color: #DDDDDD;
}

.talkcenter-bg {
  background: #F9F9F9;
}

.tx-gray-500 {
  color: #777777 !important;
}

.btn-light {
  background: #F9F9F9 !important;
  color: #777777
}

@media (max-width: 576px) {
  .sidebar-fix {
    position: relative !important;
    z-index: 1;
    padding-top: 0.25rem !important;
    padding-left: 0.5rem;
    width: 100%;

  }

  .media-body {
    margin-left: 0 !important;
  }

  .navbar-header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .talkcenter-bg {
    margin-top: 50px;
  }

  .mobile-search {
    padding-left: 10px;
  }

  .mobile-form {
    width: 95% !important
  }
}
.bg-talenticon{
  background: #801010;
  margin-top: -50px;
}

.evaluated{
  border: 1px solid #86B49B;
  background-color: #EEF5EC;
  color: #17543F;
  border-radius: 50px;
}
.not-evaluated{
  border: 1px solid #D1CEB8;
  background-color: #FBF5E4;
  color: #773C20;
  border-radius:50px;
}
.btn-view{
  border: 2px solid #C5D9E8;
  color: #358ED7;
}
.status-pad{
  padding-top:1.2rem!important
}
.add-more{
  border: 1px dashed #1F75BC;
  background-color: #E7F1F9;
  color: #358ED7!important;
  font-weight: 500;
  text-align: left!important;
}
.btn-danger{
  color: #fff!important;
}
@media (min-width: 1600px) {
  .sidebar-fix{
    width:22rem ;
    margin-left: 11rem;
  }
}

/* @media (min-width: 40px) {
  .sidebar-fix {
    width: 22rem;
    margin-left: 1rem;
  }
} */


@media (min-width: 1800px) {
  .sidebar-fix {
    width: 22rem;
    margin-left: 14rem;
  }
}

.nav-link.active{
  font-weight: 700!important;
}
.question{
  font-weight: 700!important;
}