h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000 !important
}

.logo {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -1px;
  color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  color: #000;
  /* margin-top: -4px */
}

.sidebar-fix {
  height: 100%;
  width: 21.875rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 6.25rem;
  padding-left: 6.25rem;
}

@media (max-width: 768px) {
  .sidebar-fix {
    width: 16.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 6.25rem;
    padding-left: 2.25rem;
  }
}

@media (max-width: 991.98px) {
  .sidebar-fix {
    width: 16.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 6.25rem;
    padding-left: 2.25rem;
  }
}

@media (max-width: 1025.98px) {
  .sidebar-fix {
    width: 16.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 6.25rem;
    padding-left: 2.25rem;
  }
}

.media-body {
  margin-left: 16.25rem;
}

.btn-green {
  background-color: #108043;
  color: #fff;
}

.bg-green {
  background-color: #108043;
}

.bg-grey {
  background-color: #DDDDDD;
}

.talkcenter-bg {
  background: #F9F9F9;
}

.tx-gray-500 {
  color: #777777 !important;
}

.btn-light {
  background: #F9F9F9 !important;
  color: #777777
}

@media (max-width: 576px) {
  .sidebar-fix {
    position: relative !important;
    z-index: 1;
    padding-top: 0.25rem !important;
    padding-left: 0.5rem;
    width: 100%;

  }

  .media-body {
    margin-left: 0 !important;
  }

  .navbar-header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .talkcenter-bg {
    margin-top: 50px;
  }

  .mobile-search {
    padding-left: 10px;
  }

  .mobile-form {
    width: 95% !important
  }
}
