.navbar-header .navbar-brand {
  width: auto !important;
  padding: 0 30px !important;
  background-color: #333333;
  color: #fff;
  height: 100%;
  margin: 0 !important;
}

.navbar-menu .nav-item .nav-link.active {
  background-color: #ECF5FD;
  color: #2C405A !important;
  padding: 5px 20px !important;
  border-radius: 5px;
  font-weight: 600;
} 

.navbar-menu .nav-link {
  color: #777777 !important;
  font-weight: 400;
}

.dropdown-notification .dropdown-link.new-indicator span {
  background-color: #358ED7 !important;
}
.dropdown-profile .dropdown-link{
  display: block!important;
}
.head-text{
  color: #fff!important;
}
.logo-img{
  max-width: 100%!important;
}

@media (max-width: 575.98px) {
  .logo-img{
    max-width: 30px!important;
    margin-left: 2px!important;
  }
  .bene{
    margin-left: 0px!important;
  }
  .img-div{
    margin-left: 2px !important;
  }
}