@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");

body {
  font-family: "Roboto",
    sans-serif;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000 !important
}

.logo {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -1px;
  color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  color: #000;
  /* margin-top: -4px */
}

.sidebar-fix {
  height: 100%;
  width: 12.25rem;
  position: fixed;
  z-index: 1;
  top: 0;
 left: auto !important;
 right: inherit !important;
  overflow: hidden;
  padding-top: 6.25rem;
}

@media (max-width: 768px) {
  .sidebar-fix {
    width: 12.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: auto !important;
    right: inherit !important;
    overflow: hidden;
    padding-top: 6.25rem;
  }
}

@media (max-width: 991.98px) {
  .sidebar-fix {
    width: 12.25rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: auto !important;
    right: inherit !important;
    overflow: hidden;
    padding-top: 6.25rem;
}
}

.media-body {
  margin-left: 12.25rem;
}

.performance-bg {
  background: #F9F9F9;
  min-height: 100vh;
}

.tx-gray-500 {
  color: #777777 !important;
}

@media (max-width: 576px) {
  .sidebar-fix {
    position: relative !important;
    z-index: 1;
    padding-top: 0.25rem !important;
    padding-left: 0.5rem;
    width: 100%;

  }

  .media-body {
    margin-left: 0 !important;
  }

.fb {
  left: auto !important;
  right: inherit !important;
  width: inherit;
  margin-top: 1rem!important;
}

  .navbar-header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .performance-bg {
    margin-top: 50px;
  }

  .mobile-search {
    padding-left: 10px;
  }

  .mobile-form {
    width: 95% !important
  }
}

.btn-view {
  border: 2px solid #C5D9E8;
  color: #358ED7;
}

.status-pad {
  padding-top: 1.2rem !important
}


.nav-link.active {
  font-weight: 700 !important;
}

.list-group-item.active {
  background-color: #ECF5FD !important;
  color: #000 !important;
  font-weight: 700;
  border: 1px solid #C5D9E8 !important;
}

.list-group-item {
  background: transparent !important;
  border: none !important;
}

.perform-head {
  font-weight: 200;
}

.table-font {
  font-size: 0.8rem;
  color: #2C405A;
}
.evaluate-card {
  background-color: #F4F6F8;
  border-top: 2px solid #777777;
}
.flag {
  background-color: #637381;
}

.flag-icon {
  width: 18px !important;
  height: 18px !important;
}
.custom-link.active{
  color: #000;
}
.nav-line .custom-link.active::after {
  background-color: #000;
}
.custom-link:hover {
  color: #000;
}
.perform-select{
  font-size: 0.75rem!important;
  font-weight: 700!important;
  padding: 0.3rem 1.2rem 0.3rem 0.4rem!important;
}
.add-link{
  color: #358ED7;
}
.fb{
  left: auto!important;
  right: inherit!important;
  width: inherit;
  margin-top: 12.5rem;
}
.view-manager-btn{
  color: #333333;
    font-weight: 500;
  border: 2px solid #C5D9E8;
}
.view-manager-btn:hover {
  color: #33333398;
  font-weight: 500;
  border: 2px solid #C5D9E8;
}
.conduct-self-btn{
  color: #fff;
  background-color: #333333;
  font-weight: 500;

}
.conduct-self-btn:hover {
  color: #fff;
  background-color: #050505;
  font-weight: 500;

}

/* =================================================================================
 360 Assessment style
 ============================================================================ */
.footer-link{
  color: #2C405A;
  font-weight: 600;
}
.footer-link:hover{
background-color: #eeeeee;
color: #ff4444;
}
.card-360{
  padding: 15px!important;
}
.footer-appriasal{
background-color: #eeeeee;
color: #2C405A;
font-weight: 600;
}
.footer-appriasal:hover {
  background-color: #eeeeee;
  color: #ff4444;
  font-weight: 600;
}
.footer-appriasal-complete{
  cursor: default;
}
@media (max-width: 576px) {
  .custom-row {
    display: inline-block !important;

  }
}
.bg-greyy {
  background-color: #DDDDDD;
}
.fixed-modal {
  max-height: 70vh;
  overflow-y: scroll;
}
.btn-cancel{
  border: 1px solid #707070;
  background-color: #fff;
}
.modal-hidden{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.check-icon{
  background-color:#81B885;
}
.sub{
  font-weight: 400!important;
  font-size: 18px!important;
}
.label-box{
  font-size: 12px;
  color: #777777;
}


.progresss {
  width: 80px;
  height: 80px;
  background: none;
  position: relative;
}

.progresss::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progresss>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progresss .progress-left {
  left: 0;
}

.progresss .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 4px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progresss .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progresss .progress-right {
  right: 0;
}

.progresss .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progresss .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-bluish{
  background-color: #ECF4FA;
}
.percent-font{
  color: #5E6977;
}
.appraisal-link.active {
  color: #000;
}

.nav-line .appraisal-link.active::after {
  background-color: #ff4444;
}

.appraisal-link:hover {
  color: #000;
}
.tx-normal{
  font-weight: 300;
}
.bg-card-header{
  background-color: #EEEEEE;
}
.bg-greenish{
  background-color: #EFF6ED;
  border-top: 3px solid #50B83C;
}
.btn-assess{
  border: 1px solid #212B3666;
}
.check-iconn {
  background-color: #fff;
  border: 2px solid #108043;
  color: #108043;
  box-shadow:2px 2px 4px 2px #BBE5B3;
}